.button {
    background: #1C1C1C;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    width: 250px;
    height: 48px;
}

/* Mobile  */
@media(max-width: 568px) {
    .button {
        width: 150px;
        height: 48px;
    }
}