.section {
    color: #fff;
}
.darkSection{
    background: #1C1C1C;
    p {
        &:not(:last-child) {
            padding-bottom: 10px;
        }
    }
}
@media(max-width: 834px) {
    .darkSection {
        p {
            &:not(:last-child) {
                padding-bottom: 5px;
            }
        }
    }
}
@media(max-width: 568px) {
    .section {
        padding-bottom: 48px;

    }
    .sectionImg {
        margin-top: -42px;

        img{
            margin-bottom: 40px;
        }
    }
}
