@import "../../App.scss";

.navbar {
  height: 112px;
  display: flex;
  align-items: center;
  transition: height 0.7ms 0.3s ease;
  max-width: 1300px;
  margin: auto;
  padding: 0px 30px;
}
.navbar.scrolled {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
}

.navbarContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.navWrp {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 107px;
}

.navWrp .navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1c1c1c !important;
  padding: 0rem 1.32rem;
}

.navWrp .navLink .navItem{
  &:hover {
    color: #1c1c1c9f !important;
  }
  &:visited &:link{
    color: #1c1c1c9f !important;
  }
}

.navbarBrand,
.footerLogo {
  display: flex;
  align-items: center;
}

.navbarBrand span,
.footerLogo span {
  font-family: "CyclicSans-Light";
  font-size: 42.1955px;
  line-height: 47px;
  margin-left: 20px;
  font-weight: 300;
}

.navbarBrand span {
  color: #000;
}

.footerLogo span {
  color: #fff;
}

.toggleBar {
  display: none;
  margin-left: 46px;
  cursor: pointer;
  border: none;
  color: #212529;
}

.headerBtn {
  width: 250px;
  height: 48px;
}

@media (max-width: 1024px) {
  .navWrp {
    .headerBtn {
      width: 210px;
    }
    margin-right: 30px;
    .navLink {
      font-size: 14px;
      padding: 0rem 1rem;
    }
  }
  .headerBtn {
    width: 210px;
  }
}

@media (max-width: 834px) {
  .navbar {
    height: 90px;
    span {
      font-size: 39px;
      margin-left: 17px;
    }
  }
  .navbar.scrolled {
    height: 65px;
  }

  .navWrp {
    margin-right: 0;
    margin-left: inherit;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100vh;
    background-color: #fff;
    z-index: 1211;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    display: none;
  }
  .nav-wrp.active {
    display: block;
  }
  .navLink {
    font-size: 16px;
    padding: 0.4rem 1em;
  }
  .toggleBar {
    display: block;
  }
  .headerBtn {
    width: 250px;
    height: 48px;

    margin-left: auto;
  }
}

@media (max-width: 568px) {
  .navbar {
    .headerBtn {
      display: none;
    }
    span {
      font-size: 36px;
      margin-left: 14px;
    }
  }
  .toggleBar {
    margin-left: auto;
  }
}
