.section {
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 63vw;
    height: 100%;
    background-color: #1c1c1c;
    z-index: -1;
  }
  .sectionImg {
    margin-top: -105px;
    padding-bottom: 40px;
  }
}

.sectionDark {
  border-top-left-radius: 20px;
  margin-left: 70px;
}

.darkSection {
  background: #1c1c1c;
}

.sectionRow {
  margin-left: -30px;
  padding-right: 50px;
}

.content {
  color: #fff;
  padding-top: 10px;
  p {
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 1440px) {
  .section {
    .sectionRow {
      margin-left: -10px;
      padding-right: 36px;
    }
    .sectionImg {
      padding-right: 10px;
    }
  }
}

@media (max-width: 1366px) {
  .section {
    .sectionRow {
      margin-left: 0px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 1024px) {
  .content {
    padding-right: 23px;
  }
}

@media (max-width: 834px) {
  .section {
    padding-bottom: 25px;
    padding-top: 25px;

    .sectionImg {
      margin-top: 0px;
      padding-bottom: 10px;
    }
    
  }
  .sectionDark {
    margin-left: 64px;
  }
  .content {
    padding-right: 15px;
    p {
      &:not(:last-child) {
        padding-bottom: 5px;
      }
    }
  }
}

@media (max-width: 568px) {
  .section {
    margin-bottom: 70px;
  }
  .sectionDark {
    flex-direction: column-reverse;
    border-top-left-radius: 0;
    border-bottom-left-radius: 15px;
    margin-left: 17px;
  }
  .content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
  }
  .sectionImg {
    margin-top: 9px;
    padding-bottom: 0;
    margin-bottom: -95px;
    width: 65%;
  }
  .sectionRow {
    flex-direction: column-reverse;
  }
}
