.footer {
  background: #1c1c1c;
  padding: 30px 0px 10px 0px;
}
.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  a,
  p {
    font-size: 14px;
    line-height: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s ease;
    font-weight: 500;
  }
  a {
    &:hover {
      color: #ddd;
    }
  }
  p {
    font-weight: 400;
  }
  li {
    &:not(:last-child) {
      a {
        padding-bottom: 9px;
      }
    }
  }

  .logoSection .networkSection {
    display: flex;
  }

  .logo {
    display: flex;
    align-items: center;
    padding-bottom: 11px;
    justify-content: "center";
    span {
      font-family: "CyclicSans-Light";
      font-size: 42.1955px;
      line-height: 47px;
      margin-left: 20px;
      font-weight: 300;
      color: #fff;
    }
  }
}
.footerMenu {
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
  margin-top: -5px;
}
@media (max-width: 834px) {
  .footer {
    padding: 50px 0px;
  }
  .footerContent ul li a,
  .footerContent p {
    font-size: 16px;
    line-height: 21px;
  }
  .loogo {
    span {
      font-size: 39px;
      margin-left: 17px;
    }
  }
  .footerMenu {
    padding-right: 0;
    margin-top: 0;
  }
}
@media (max-width: 568px) {
  .footer {
    padding: 40px 0px;
  }
  .footerContent {
    p {
      font-size: 15px;
    }
    ul li {
      &:not(:last-child) {
        a {
          padding-bottom: 15px;
        }
      }
    }
  }
  .footerLeftContent {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    width: 100%;
    padding-bottom: 30px;
  }
  .logo {
    justify-content: center;
    padding-bottom: 3px;
    span {
      font-size: 36px;
      margin-left: 14px;
    }
  }
}